.spacing {
  margin: 0 auto;
  // padding: 1rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.story {
  margin: 10px;
  text-align: left;
  font-size: 1.2em;
}

.content {
 
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  color: #000000;
  font-family: 'Times New Roman', Times, serif;
  background: #ffffff;
}


.background {
  background-color: #b5c9c1;
}

.content a {color: #ffc83d;}
.content a:visited {color: #3f2f04;
text-decoration: none;}

.row {
  display: flex;
  @media only screen and (max-width: 900px) {
    display: block;
    
  }
}


.column {
  flex: 30%;
  padding: 10px;
  @media only screen and (max-width: 1200px) {
    flex: 50%;
  }
  @media only screen and (max-width: 900px) {
    display: none;
  }

}
.column2 {
  flex: 70%;
  padding: 10px;
  @media only screen and (max-width: 1200px) {
    padding: 0px;
  }
}
.column2adjust {
  flex: 70%;
  padding: 10px;
  margin-top: 130px;
  @media only screen and (max-width: 1200px) {
    margin-top: -40px;
    padding: 0px;
  }
}

.column2adjust2 {
  flex: 70%;
  padding: 10px;
  margin-top: 30px;
  @media only screen and (max-width: 1200px) {
    margin-top: 20px;
    padding: 0px;
  }
}


.hidden {
  display: none;
}

.hide1200 {
  @media only screen and (max-width: 1200px) {
    display: none;
  }
}

.show1200 {
  @media only screen and (min-width: 1200px) {
    display: none;
  }
}

.footerblock {
  display:block;
}

.storytitle {
  @media only screen and (max-width: 900px) {
    display: none;
  }
}

.storytitlemobile {
  @media only screen and (min-width: 900px) {
    display: none;
  }
}


.imageshadow {
  box-shadow: -40px -40px 0px 1px #b5c9c1;
  @media only screen and (max-width: 600px) {
    box-shadow: -20px -20px 0px 1px #b5c9c1;
  }
}

.imageshadowleft {
  box-shadow: -40px -40px 0px 1px #b5c9c1;
  margin-right: 40px;
  @media only screen and (max-width: 600px) {
    box-shadow: -20px -20px 0px 1px #b5c9c1;
  }
}

.imageshadowadjust {
  box-shadow: -40px -40px 0px 1px #b5c9c1;
  @media only screen and (max-width: 600px) {
    box-shadow: -20px -20px 0px 1px #b5c9c1;
  }
  
}
.imageshadow2 {
  box-shadow: 40px 40px 0px 1px #b5c9c1;
  @media only screen and (max-width: 900px) {
      box-shadow: -40px -40px 0px 1px #b5c9c1;
  }
  @media only screen and (max-width: 600px) {
    box-shadow: -20px -20px 0px 1px #b5c9c1;
  }
}

.page-title {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  text-align: center;
}

.page-title-langdon {
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  text-align: center;
}

.home-page-dates {
  color: #000000;
  font-family: 'Times New Roman', Times, serif;
  font-size: 35px;
  line-height: 1.2;
  // font-weight: bold;
}

.home-page-backup-dates {
  color: #000000;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: bold;
}

.home-page-text {
  font-size:1.2em;
}

.home-page-text-styled {
  font-size:1.2em;
  font-family: 'Brush Script MT'
}

.home-page-title {
  color: #000000;
  font-family: 'Times New Roman', Times, serif;
  font-size: 90px;
  font-weight: bold;
  line-height: 1em;
}


.contact {
  text-align: center;
}

.contacts {
  height: 10vw;
  
  margin: 0;
  min-height: 10em;
  width: 50%;
}

.submit {
  text-align: center;
  color: yellow;
  background-color: orange;
}

.labelCSS {
  flex: 0 0 25%;
  display: block;
  font-size: 1.2em;
}

.labelCSS2 {
  flex: 0 0 25%;
  display: block;
  // font-size: 1.2em;
}

.inputCSS {
  // flex: 50% 50% 5%;
  font-size: 1.2em;
}
.inputCSS2 {
  // flex: 50% 50% 5%;
  font-size: 1.2em;
  width: 50vw;
}
.form {
  align-items: center;

}


.inputs{
  -moz-box-shadow: inset -3px -3px 10px #eee;
  -webkit-box-shadow: inset -3px -3px 10px #eee;
  box-shadow: inset -3px -3px 10px #eee;
  border-radius: 15px;
}
/* Button */
.buttons {
  -moz-box-shadow: inset -3px -3px 10px #cc870a;
  -webkit-box-shadow: inset -3px -3px 10px #cc870a;
  box-shadow: inset -3px -3px 10px #cc870a;
  background-color: #f7b31c; /* Fill color */
  color: white; /* Text color */
  border-radius: 15px; /* Rounded button edges */
  font-style: italic; /* Italicize text */
  padding: 10px 30px; /* Distance between text and border */
}

.radio {
  column-count: 1;
  font-size: 1.2em;
  // display: inline-flex;
}


.imagebg {
	background-image: url("../images/contact_background.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-filter: blur(3px);
  filter: blur(3px);
  opacity: 1.0;
  filter: alpha(opacity=60);
}
.form-container {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	/*margin-top:90px;
	margin-bottom: 30px;*/
	padding: 30px;
	background-color: #fff;
	position: relative;
	    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 20px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
	position: absolute;
	top: 60%;
  left: 50%;
  z-index: 5;

	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  
  @media (max-width: 400px){
    top: 60%;
  }
}

.form-container .row {
	margin-bottom: 0;
}


/* label color */
   .inputCSS label {
     color: #9c9c9c;
   }
   /* label focus color */
   .inputCSS input[type=text]:focus + label {
     color: #9c9c9c;
   }
   /* label underline focus color */
   .inputCSS input[type=text]:focus {
     border-bottom: 1px solid #9c9c9c;
     box-shadow: 0 1px 0 0 #9c9c9c;
   }
   /* valid color */
   .inputCSS input[type=text].valid {
     border-bottom: 1px solid #9c9c9c;
     box-shadow: 0 1px 0 0 #9c9c9c;
   }
   /* invalid color */
   .inputCSS input[type=text].invalid {
     border-bottom: 1px solid #9c9c9c;
     box-shadow: 0 1px 0 0 #9c9c9c;
   }
   /* icon prefix focus color */
   .inputCSS .prefix.active {
     color: #9c9c9c;
   }
   

textarea.materialize-textarea:focus:not([readonly])+label {
    color: #009ddc;
    font-size: 1.2em;
}
.form-container .btn {
    background-color: #009ddc;

}

.submitbtn {
  line-height: 24px;
  background-color: #ba963a;
	display: block;
	height: 48px;
	width: 100%;
}

.submitbtn:hover {
  background-color: #896d27;
}
.form-container h3 {
	font-size: 42px;
    letter-spacing: 0.1em;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: -46px;
}
@media  all and (max-width: 640px) {
	.form-container {
		position: static;
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		-o-transform: translate(0, 0);
		transform: translate(0, 0);
		width: 100%;
		margin-top: 100px;
		margin-bottom: 20px;
	}
	.form-container h3 {
	    font-size: 24px;
	    top: -26px;
	}
}



.error {
  width: 100%;
  height: 100%;
  display: none;

}

.success {
  width: 100%;
  height: 100%;
  display: none;

}

// .schedulepage {
//   margin-left: -0px;
//   border: 20px solid blue;
//   color: blue;
//   float: center;
//   z-index:9999;
// }